/* PaperCSS fixes
-------------------------------------------------------- */

a:visited {
  color: var(--secondary);
}

nav a:visited {
  color: var(--primary);
}

/* PaperCSS tweaks
-------------------------------------------------------- */

nav ul.inline li a {
  font-size: 1rem;
}

nav a.active {
  color: var(--muted);
  border-bottom-color: var(--muted);
}

nav.subnav ul.inline {
  margin-top: 0;
}

/* Utility classes
-------------------------------------------------------- */

.text-small {
  font-size: 0.8rem;
}

.inline-block {
  display: inline-block !important;
}

.text-right {
  text-align: right;
}

/* Tables
-------------------------------------------------------- */

.table-container-scroll {
  overflow-x: scroll;
}

.table-scroll th, .table-scroll td {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Charts
-------------------------------------------------------- */

.chart {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

/* Code blocks
-------------------------------------------------------- */

code[class*="language-"], pre[class*="language-"] {
  font-size: 16px;
}
