nav ul.inline li a {
  font-size: 1rem;
}

nav a.active {
  color: var(--muted);
  border-bottom-color: var(--muted);
}

.text-small {
  font-size: 0.8rem;
}

.inline-block {
  display: inline-block !important;
}

.text-right {
  text-align: right;
}

.table-container-scroll {
  overflow-x: scroll;
}

.table-scroll th, .table-scroll td {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
